body {
    max-width: 750px;
    margin: 0 auto;
}
/*字体*/
.f24 {
    font-size: .24rem;
}
.f26 {
    font-size:.26rem;
}
.f28 {
    font-size:.28rem;
}
.f32 {
    font-size:.32rem;
}
.f34 {
    font-size:.34rem;
}
.app-flex1{
    flex:1;
}
.app-flex-row{
    display:flex;
    flex-direction:row;
}
.app-flex-column{
    display:flex;
    flex-direction:column;
}
.app-flex-center{
    align-items:center;
    justify-content:center;
}
.app-cross-center{
    align-items:center;
}
.app-space-between{
    justify-content:space-between;
}

.fl {
    float: left;
}
.fr {
    float:right;
}
.clearFix:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

