body {
    max-width: 750px;
    margin: 0 auto;
}
/*字体*/
.f24 {
    font-size: .24rem;
}
.f26 {
    font-size:.26rem;
}
.f28 {
    font-size:.28rem;
}
.f32 {
    font-size:.32rem;
}
.f34 {
     font-size:.34rem;
 }
.f46 {
    font-size:.46rem;
}
.app-flex1{
    flex:1;
}
.app-flex-row{
    display:flex;
    flex-direction:row;
}
.app-flex-column{
    display:flex;
    flex-direction:column;
}
.app-flex-center{
    align-items:center;
    justify-content:center;
}
.app-cross-center{
    align-items:center;
}
.app-space-between{
    justify-content:space-between;
}

.fl {
    float: left;
}
.fr {
    float:right;
}
.clearFix:after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

/*动画*/

@keyframes BounceSlideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}
.BounceSlideRight-enter-active {animation:BounceSlideRight .8s 0s 1 both}

@keyframes BounceSlideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}

.BounceSlideLeft-enter-active{animation:BounceSlideLeft .8s 0s 1 both}

